<p><strong>Location:</strong><%= @event.location %></p>
<p><strong>Date:</strong> <%= @event.date %></p>
<p><strong>Start Time:</strong> <%= @event.start_time %></p>
<p><strong>End Time:</strong> <%= @event.end_time %></p>
<p><strong>Mens Price:</strong> <%= @event.mensprice %></p>
<p><strong>Womens Price:</strong> <%= @event.womansprice %></p>
<p><strong>Mens Max Participants:</strong> <%= @event.mensmax_participants %></p>
<p><strong>Womens Max Participants:</strong> <%= @event.womansmax_participants %></p>
<p><strong>Deadline Time:</strong> <%= @event.deadline_time %></p>
<p><strong>Memo:</strong> <%= @event.memo %></p>

<% if current_user == @event.user %>
  <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn btn-primary' %>
  <%= link_to 'Delete Event', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

